{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image⁄x-icon" href="{% static 'img/logo.png'%}" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}"">
    <title>BOOKREST</title>
  </head>
  <body>
    <div class="nav">
    
      <div class="nav__logo">
        <h1>
          <a href="{% url 'main' %}">BOOKREST</a>
        </h1>
      </div>

      <div class="nav__menu">
      
      
        <a class="nav__menu__link js-nav__menu__link" href="{% url 'noticeBase' %}" data-path="/noticeBase">Notice</a>
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'category' %}"
          data-path="/category/"
          >Category</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'vote' %}"
          data-path="/vote/"
          >Vote</a
        >
        <a
        class="nav__menu__link js-nav__menu__link"
        href="{% url 'inquiry' %}"
        data-path="/inquiry/"
        >Inquiry</a
      >
      <a
      class="nav__menu__link js-nav__menu__link"
      href="{% url 'sign_up' %}"
      data-path="/join/sign_up"
      >Signup</a
    >
   
    {% if user.is_active %}
    <a
        class="nav__menu__link js-nav__menu__link"
        href="{% url 'sign_out' %}"
        >Logout</a
      >
    <a>{{ user.username }}님 안녕하세요.</a>
    {% else %}
    <a
      class="nav__menu__link js-nav__menu__link"
      href="{% url 'sign_in' %}"
      data-path="/join/sign_in"
      >Signin</a
    >
    {% endif %}
      </div>
    </div>

    {% block content %} {% endblock %}



    <script src="{% static 'js/nav.js'%}"></script>
  </body>
</html>