{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<h1>카테고리 페이지</h1>
    <div class="category">
        
        <div class="category_nav">
            <div class="item">전체보기</div>
            <div class="item">인문</div>
            <div class="item">사회</div>
            <div class="item">미컨</div>
            <div class="item">IT</div>
        </div>    
        
        <form method="GET" action="{% url 'category' %}">
            <div class="category_search">
                <div class="text_item"><input type="text" placeholder="책 제목을 입력하세요." name="search" value="{{search}}"></div>
                <div class="button_item"><button>검색</button></div>
            </div>
        </form>

        <div class="book_list">
            <div class="book">

                {% for book in book_list %}
                <div class="title" id="title" name="title">
                    <h2 >{{ book.title }}</h2>
                    <hr>
                </div>
                <div class="book_card">
                    <img src="{% static 'img/{{ book.image }}'%}"/>
                    <div class="book_card_column">
                        <span class="book_category">
                            <h4 class="column_title">카테고리</h4>&ensp;IT
                        </span>
                        <span class="book_author"><h4 class="column_title">저자</h4>&ensp;{{ book.author }}
                        </span>
                        <span class="book_publisher">
                            <h4 class="column_title">출판사</h4>&ensp;{{ book.publisher }}
                        </span>
                        <span class="book_date">
                            <h4 class="column_title">출간일</h4>&ensp;{{ book.pubdate }}
                        </span class="book_left">
                        <span class="book_date">
                            <h4 class="column_title">재고</h4>&ensp;{{ book.stock }}
                        </span class="book_left">
                        <span class="book_button">
                            <button><a href="detail.html">대여하기</a></button>
                        </span>
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>
        
        {% if book_list.has_previous %}
        <a href='?page={{book_list.previous_page_number}}&search={{search}}'>이전</a>
        {% endif %}
        <span>{{book_list.number}}</span>
        <span>/</span>
        <span>{{book_list.paginator.num_pages}}</span>
        {% if book_list.has_next %}
        <a href='?page={{book_list.next_page_number}}&search={{search}}'>다음</a>
        {% endif %}
    
    
    </div>

{% endblock %}


<!-- 
  지인 작업한 html
<form method="GET" action="{% url 'category' %}">
  <input type="text" placeholder="책 제목을 입력하세요." name="search" value="{{search}}">
  <button type="submit">검색</button>
</form>
<div>
    {% for book in book_list %}
      <h3>{{ book.title }}</h1>
      <p>{{ book.department }}</p>
      <hr>
    {% endfor %}
  {% if book_list.has_previous %}
    <a href='?page={{book_list.previous_page_number}}&search={{search}}'>이전</a>
  {% endif %}
    <span>{{book_list.number}}</span>
    <span>/</span>
    <span>{{book_list.paginator.num_pages}}</span>
  {% if book_list.has_next %}
    <a href='?page={{book_list.next_page_number}}&search={{search}}'>다음</a>
  {% endif %}
</div> -->