{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css '%}">
<h1>디테일 페이지</h1>

<div class="book">
    
    <div class="book_box">
        <img src="{% static 'img/pythonbook.jpg '%}"/>
        <div class="book_detail">
            <span class="book_category">
                <h4 class="column_title">카테고리</h4>&ensp;IT
            </span>
            <span class="book_author"><h4 class="column_title">저자</h4>&ensp;박응용
            </span>
            <span class="book_publisher">
                <h4 class="column_title">출판사</h4>&ensp;영진닷컴
            </span>
            <span class="book_date">
                <h4 class="column_title">출간일</h4>&ensp;2019.06.20
            </span class="book_left">
            <span class="book_date">
                <h4 class="column_title">재고</h4>&ensp;8권
            </span class="book_left">
        </div>
    </div>

</div>

{% endblock %}
