{% load static %}
<link rel="stylesheet" href="{% static 'css/noticeBase.css '%}" />
<div class="noticeTitle">
    <h2>여기 제목 적기</h2>
</div>

<div class="noticeTool">
    <div class="noticeTool__category">
        <div class="noticeTool__category__title">
            BOOKREST 이용안내
        </div>
        <div class="noticeTool__category__link">
            <a href="#">BOOKREST란</a>
            <a href="#">규정</a>
            <a href="#">오시는 길</a>
            <a href="#">문의하기</a>
        </div>
    </div>


    <div class="noticeTool__summaryTool">
        <div class="noticeTool__summaryTool__box">
            

        </div>
    </div>



</div>