{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/sign_up.css '%}" />

<form id="signupForm" class="signupForm">
  <div class="signupBoxTool">
    <div class="signupBoxTool__signupBox">
      <div class="signupBoxTool__signupBox__title">
        <h5>정보 입력</h5>
      </div>
      <!-- name=해서 값 가져올 예정 -->
      <div class="signupBoxTool__signupBox__form-control__nameMajor">
        <div class="signupBoxTool__signupBox__form-control">
          <div class="signupBoxTool__signupBox__form-control__title">
            <span>이름</span>
          </div>
          <input type="text" class="name input" placeholder="Enter username" />
          <small>Error message</small>
        </div>

        <div class="signupBoxTool__signupBox__form-control">
          <div class="signupBoxTool__signupBox__form-control__title">
            <span>학부/전공</span>
          </div>
          <input type="text" class="major input" placeholder="Enter major" />
          <small>Error message</small>
        </div>
      </div>
      <div class="signupBoxTool__signupBox__form-control">
        <div class="signupBoxTool__signupBox__form-control__title">
          <span>학번</span>
        </div>
        <input
          type="text"
          class="studentID input"
          placeholder="Enter StudentID"
        />
        <small>Error message</small>
      </div>

      <div class="signupBoxTool__signupBox__form-control">
        <div class="signupBoxTool__signupBox__form-control__title">
          <span>이메일</span>
        </div>
        <input type="text" class="email input" placeholder="Enter Email" />
        <small>Error message</small>
      </div>

      <div class="signupBoxTool__signupBox__form-control">
        <div class="signupBoxTool__signupBox__form-control__title">
          <span>비밀번호</span>
        </div>
        <input
          type="password"
          class="password input"
          placeholder="Enter password"
        />
        <small>Error message</small>
      </div>

      <div class="signupBoxTool__signupBox__form-control">
        <div class="signupBoxTool__signupBox__form-control__title">
          <span>전화번호</span>
        </div>
        <input
          type="text"
          class="phoneNumber input"
          placeholder="Enter Phone number"
        />
        <small>Error message</small>
      </div>

      <div class="signupBoxTool__signupBox__rule">
        <div class="signupBoxTool__signupBox__rule__info">
          <div class="signupBoxTool__signupBox__rule__info__rowTool">
            <input type="checkbox" class="checkbox" id="" name="checkbox" />
            <h4><a>bookrest 이용규정</a>을 모두 읽었으며 동의합니다.</h4>
          </div>
          <h5 class="js-checkboxErrorMsg"></h5>
        </div>
        <button type="submit">등록</button>
      </div>
    </div>
  </div>
</form>
<script src="{% static 'js/signup.js '%}"></script>

{% endblock %}
